@model IEnumerable<DemoWUITGallery.Models.Image>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<p>
    <span>
        <a id="upload-image" data-url="@Url.Action("Create", "Images", new { PhotogalleryId = 0 })"
           data-target="#modal-container" data-toggle="modal" href="#">
            Create New
        </a>&nbsp;&nbsp;
    </span>
    <span>
        <a asp-action="index" asp-controller="PhotoGalleries">Photo galleries</a>
    </span>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>Gallary Title</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhotoGallery.Title)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    await Html.RenderPartialAsync("_ImageModal");
}
